@page
@model Zoo_Bazaar.Pages.ScheduleModel
@{
    
}

<h1 style="margin: 20px;
    border-bottom: 6px solid;
    text-align: center;">
    Schedule
</h1>

<div class="schedule">
    <h2 class="day">Monday</h2>
    <h2 class="day">Tuesday</h2>
    <h2 class="day">Wednesday</h2>
    <h2 class="day">Thursday</h2>
    <h2 class="day">Friday</h2>
    <h2 class="day">Saturday</h2>
    <h2 class="day">Sunday</h2>

    <div id="@Model.currentWeekSchedule.Monday.ToString("dd-MM-yyyy")mo-0" style="grid-area:monday0">@Model.currentWeekSchedule.Monday.ToString("dd-MM-yyyy")</div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(1).ToString("dd-MM-yyyy")tu-0" style="grid-area:tuesday0">@Model.currentWeekSchedule.Monday.AddDays(1).ToString("dd-MM-yyyy")</div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(2).ToString("dd-MM-yyyy")we-0" style="grid-area:wednesday0">@Model.currentWeekSchedule.Monday.AddDays(2).ToString("dd-MM-yyyy")</div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(3).ToString("dd-MM-yyyy")th-0" style="grid-area:thursday0">@Model.currentWeekSchedule.Monday.AddDays(3).ToString("dd-MM-yyyy")</div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(4).ToString("dd-MM-yyyy")fr-0" style="grid-area:friday0">@Model.currentWeekSchedule.Monday.AddDays(4).ToString("dd-MM-yyyy")</div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(5).ToString("dd-MM-yyyy")sa-0" style="grid-area:saturday0">@Model.currentWeekSchedule.Monday.AddDays(5).ToString("dd-MM-yyyy")</div>
    <div id="@Model.currentWeekSchedule.Sunday.ToString("dd-MM-yyyy")su-0" style="grid-area:sunday0">@Model.currentWeekSchedule.Sunday.ToString("dd-MM-yyyy")</div>

    <div id="@Model.currentWeekSchedule.Monday.ToString("dd-MM-yyyy")mo-1" style="grid-area:monday1"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(1).ToString("dd-MM-yyyy")tu-1" style="grid-area:tuesday1"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(2).ToString("dd-MM-yyyy")we-1" style="grid-area:wednesday1"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(3).ToString("dd-MM-yyyy")th-1" style="grid-area:thursday1"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(4).ToString("dd-MM-yyyy")fr-1" style="grid-area:friday1"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(5).ToString("dd-MM-yyyy")sa-1" style="grid-area:saturday1"></div>
    <div id="@Model.currentWeekSchedule.Sunday.ToString("dd-MM-yyyy")su-1" style="grid-area:sunday1"></div>

    <div id="@Model.currentWeekSchedule.Monday.ToString("dd-MM-yyyy")mo-2" style="grid-area:monday2"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(1).ToString("dd-MM-yyyy")tu-2" style="grid-area:tuesday2"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(2).ToString("dd-MM-yyyy")we-2" style="grid-area:wednesday2"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(3).ToString("dd-MM-yyyy")th-2" style="grid-area:thursday2"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(4).ToString("dd-MM-yyyy")fr-2" style="grid-area:friday2"></div>
    <div id="@Model.currentWeekSchedule.Monday.AddDays(5).ToString("dd-MM-yyyy")sa-2" style="grid-area:saturday2"></div>
    <div id="@Model.currentWeekSchedule.Sunday.ToString("dd-MM-yyyy")su-2" style="grid-area:sunday2"></div>
</div>




<script>
    
    console.log(@Model.scheduleJson);

    var scheduleShifts = JSON.parse(JSON.stringify(@Model.scheduleJson));
    console.log(scheduleShifts);
    for(var shifting in scheduleShifts){

        var shift = scheduleShifts[shifting];

        var dateParts = shift.Date.split('-');
        var day = parseInt(dateParts[0], 10);
        var month = parseInt(dateParts[1], 10);
        var year = parseInt(dateParts[2].split(' ')[0], 10);

        var dateRetrieved = new Date(year, month - 1, day);

        var options = { weekday: 'short' };
        var dayOfWeek = dateRetrieved.toLocaleDateString('en-US', options).slice(0, 2) + "-";
        console.log(dayOfWeek);

        var day = dateRetrieved.getDate();
        var month = dateRetrieved.getMonth() + 1; // Months are zero-based, so adding 1
        var year = dateRetrieved.getFullYear();

        // Format the date components
        var formattedDate = (day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + year;
        console.log(formattedDate);
        var elementToUse; 
        var type = shift.Type; 

 
        elementToUse = document.getElementById(formattedDate + dayOfWeek.toLowerCase() + type);
        console.log(elementToUse);

        if(elementToUse != null){

            var location_ = "";
            if (shift.Location != null || shift.Location != "") {
                location_ = shift.Location;
            }

            var childElement = document.createElement('div');
            childElement.className = "Event";
            childElement.textContent = "";
            
            elementToUse.appendChild(childElement);
        }




    }

  

    //document.getElementById("day").innerHTML = y.toString();


    

</script>