@page
@using LogicCL
@model Zoo_Bazaar.Pages.Tickets1Model
@{
    Layout = null;
}

<head>
    <link href="~/css/stylesheet1.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>

</head>

<div class="nav" id="nav">
    <h2 id="logo">Zoo Bazaar</h2>
    <ul>
        <li><a href="/Index">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right;"><a class="active btn-orange" style="height: 31px;" href="/Tickets">Tickets</a></li>
    </ul>
</div>


<div class="hero">
    <video class="hero-vid" autoplay muted>
        <source src="~/videos/zoobzr-promo_resized.mp4" type="video/mp4" />
    </video>
</div>

<div class="main">
    <section class="sec-tickets">

        <div class="ticket-container">
            <div class="ticket" style="height: 186px !important;">
                    <h2>
                        Personal information:
                    </h2>
                    <h3>
                        Name: @Model.Order.Name
                    </h3>
                    <h3>
                        Email: @Model.Order.Email
                    </h3>
                    <h3>
                        Phone: @Model.Order.PhoneNumber
                    </h3>
                    <div class="qnty-price">
                    </div>
                    </div>  
          
                    <form method="post" asp-page-handler="GoPayment" class="GoPay">
                        <input type="submit" value="Pay with creditcard" class="btn-green" id="GoPayBtn"/>
                    </form>
        </div>

        <div class="cart-container">
            <div class="cart-item-container">
                <div class="cart-item">
                    <h3>Name</h3>
                    <div class="cart-qnty-price">
                        <h3>Quantity</h3>
                        <h3>Price</h3>
                    </div>
                </div>
                @foreach (Tuple<Ticket, int> item in Model.tickets)
                {
                    <div class="cart-item">
                        <h3>@item.Item1.Name</h3>
                        <div class="cart-qnty-price">
                            <h3>@item.Item2</h3>
                            <h3>@item.Item1.Price.ToString("C")</h3>
                        </div>
                    </div>
                }
                </div>
            <form method="post" asp-page-handler="ApplyDiscount" class="cart-discount">
                <input type="text" asp-for="CouponCode" style="color:black;">
                <input type="submit" value="Apply discount" class="btn-orange">
            </form>

            <div class="cart-price">
                @{
                    if (Model.TotalPriceWithoutDiscount > Model.Total)
                    {

                            <h2>Total: @Model.Total.Value.ToString("C")</h2>

                            <h2 style="text-decoration: line-through;color:red;">@Model.TotalPriceWithoutDiscount.Value.ToString("C")</h2>


                    } else{
                        <h2>Total: @Model.Total.Value.ToString("C")</h2>

                    }
                }
            </div>
        </div>


    </section>
</div>






<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (currentScrollPos === 0) {
            document.getElementById("nav").style.background = "unset";
        } else {
            document.getElementById("nav").style.background = "#596831";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
